<html>
  <head></head>
  <body>
    <p>
      <% if number == params['guess'].to_i %>
        <p>
          The secret number is <%= number %>!
        </p>
        <%end%>

      <%= message %>
    </p>

    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>
